using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace AmiKoWindows.Source.HINClient
{
    class HINClientCredentials
    {
        public static readonly string ClientId = "YOUR_HIN_CLIENT_ID";
        public static readonly string ClientSecret = "YOUR_HIN_CLIENT_SECRET";
        public static readonly string CertifactionServer = "YOUR_CERTIFACTION_SERVER";
        public static readonly string CertifactionTestServer = "YOUR_CERTIFACTION_TEST_SERVER";
    }
}
