*.db

packages/

.vs/
.suo
*.csproj.user

AmiKoWindows/obj/
AmiKoWindows/bin/
AmiKoWindows/dbs/drug_interactions_csv_de.csv
AmiKoWindows/publish/Application Files/AmiKo Desitin_1_0_4_3/images/mag_glass_16x16.png
AmiKoWindows/publish/
