.vs/
.suo

.vimrc
*.csproj.user
*.startup.json

*.exe
*.pfx

*.log

AmiKoWindows/Data/**/*.zip
AmiKoWindows/Data/**/*.db
AmiKoWindows/Data/**/*.html
AmiKoWindows/Data/**/*.csv
AmiKoWindows/Properties/Resources.resx
AmiKoWindows/Source/GoogleConstants.cs

AmiKoWindows*/obj/
AmiKoWindows*/bin/
AmiKoWindows*/publish/

Packages/

AppX_Gen/
AppX_Gen_CoMed/

TestResult.xml
