.vs/
.suo
*.csproj.user
*.startup.json

*.exe
*.pfx

AmiKoWindows/Data/**/*.zip
AmiKoWindows/Data/**/*.db
AmiKoWindows/Data/**/*.html
AmiKoWindows/Data/**/*.csv
AmiKoWindows/Properties/Resources.resx

AmiKoWindows/obj/
AmiKoWindows/bin/
AmiKoWindows/publish/

Packages/
