<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='Amiko Desitin' Manufacturer='ywesee'
        Id='27CF26CA-B7AD-4B17-8929-A8B59F460AC4'
        UpgradeCode='F199632E-60C8-428A-8AE7-124562CC0735'
        Language='1031' Codepage='1252' Version='1.0.0'>

        <Package Id='*' Keywords='Installer' Description="Amiko Desitin Installer"
            Comments='Install Amiko Desitin' Manufacturer='ywesee'
            InstallerVersion='100' Languages='1031' Compressed='yes' SummaryCodepage='1252' />

        <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
        <Property Id='DiskPrompt' Value="Amiko Desitin Installation [1]" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='ywesee' Name='ywesee'>
                    <Directory Id='INSTALLDIR' Name='AmikoDesitin'>
                        <Component Id='MainExecutable' Guid='189B2B1B-4AD3-484F-A94C-7A9B5DB4F2F1'>
                            <File Id='AmikoEXE' Name='Amiko Desitin.exe' DiskId='1' Source='Amiko Desitin.exe' KeyPath='yes'>
                                <Shortcut Id="startmenuAmikoDesitin" Directory="ProgramMenuFolder" Name="Amiko Desitin"
                                        WorkingDirectory='INSTALLDIR' Icon="desitin_icon.ico" IconIndex="0" Advertise="yes" />
                                <Shortcut Id="desktopAmikoDesitin" Directory="DesktopFolder" Name="Amiko Desitin"
                                    WorkingDirectory='INSTALLDIR' Icon="desitin_icon.ico" IconIndex="0" Advertise="yes" />
                            </File>
                            <File Name='AmiKo Desitin.deps.json' DiskId='1' Source='AmiKo Desitin.deps.json' KeyPath='no' />
                            <File Name='AmiKo Desitin.dll' DiskId='1' Source='AmiKo Desitin.dll' KeyPath='no' />
                            <File Name='AmiKo Desitin.dll.config' DiskId='1' Source='AmiKo Desitin.dll.config' KeyPath='no' />
                            <File Name='AmiKo Desitin.pdb' DiskId='1' Source='AmiKo Desitin.pdb' KeyPath='no' />
                            <File Name='AmiKo Desitin.runtimeconfig.json' DiskId='1' Source='AmiKo Desitin.runtimeconfig.json' KeyPath='no' />
                            <File Name='AppxManifest.xml' DiskId='1' Source='AppxManifest.xml' KeyPath='no' />
                            <File Name='ControlzEx.dll' DiskId='1' Source='ControlzEx.dll' KeyPath='no' />
                            <File Name='EntityFramework.SqlServer.dll' DiskId='1' Source='EntityFramework.SqlServer.dll' KeyPath='no' />
                            <File Name='EntityFramework.dll' DiskId='1' Source='EntityFramework.dll' KeyPath='no' />
                            <File Name='FontAwesome5.Net.dll' DiskId='1' Source='FontAwesome5.Net.dll' KeyPath='no' />
                            <File Name='FontAwesome5.dll' DiskId='1' Source='FontAwesome5.dll' KeyPath='no' />
                            <File Name='Google.Apis.Auth.PlatformServices.dll' DiskId='1' Source='Google.Apis.Auth.PlatformServices.dll' KeyPath='no' />
                            <File Name='Google.Apis.Auth.dll' DiskId='1' Source='Google.Apis.Auth.dll' KeyPath='no' />
                            <File Name='Google.Apis.Core.dll' DiskId='1' Source='Google.Apis.Core.dll' KeyPath='no' />
                            <File Name='Google.Apis.Drive.v3.dll' DiskId='1' Source='Google.Apis.Drive.v3.dll' KeyPath='no' />
                            <File Name='Google.Apis.dll' DiskId='1' Source='Google.Apis.dll' KeyPath='no' />
                            <File Name='MahApps.Metro.dll' DiskId='1' Source='MahApps.Metro.dll' KeyPath='no' />
                            <File Name='Microsoft.Data.Sqlite.dll' DiskId='1' Source='Microsoft.Data.Sqlite.dll' KeyPath='no' />
                            <File Name='Microsoft.Win32.SystemEvents.dll' DiskId='1' Source='Microsoft.Win32.SystemEvents.dll' KeyPath='no' />
                            <File Name='Microsoft.Windows.SDK.NET.dll' DiskId='1' Source='Microsoft.Windows.SDK.NET.dll' KeyPath='no' />
                            <File Name='Microsoft.Xaml.Behaviors.dll' DiskId='1' Source='Microsoft.Xaml.Behaviors.dll' KeyPath='no' />
                            <File Name='Newtonsoft.Json.dll' DiskId='1' Source='Newtonsoft.Json.dll' KeyPath='no' />
                            <File Name='PCSC.Iso7816.dll' DiskId='1' Source='PCSC.Iso7816.dll' KeyPath='no' />
                            <File Name='PCSC.dll' DiskId='1' Source='PCSC.dll' KeyPath='no' />

                            <File Name='SQLitePCLRaw.batteries_v2.dll' DiskId='1' Source='SQLitePCLRaw.batteries_v2.dll' KeyPath='no' />
                            <File Name='SQLitePCLRaw.core.dll' DiskId='1' Source='SQLitePCLRaw.core.dll' KeyPath='no' />
                            <File Name='SQLitePCLRaw.provider.e_sqlite3.dll' DiskId='1' Source='SQLitePCLRaw.provider.e_sqlite3.dll' KeyPath='no' />
                            <File Name='System.Data.SqlClient.dll' DiskId='1' Source='System.Data.SqlClient.dll' KeyPath='no' />
                            <File Name='System.Drawing.Common.dll' DiskId='1' Source='System.Drawing.Common.dll' KeyPath='no' />
                            <File Name='System.Windows.Controls.Input.Toolkit.dll' DiskId='1' Source='System.Windows.Controls.Input.Toolkit.dll' KeyPath='no' />
                            <File Name='System.Windows.Controls.Layout.Toolkit.dll' DiskId='1' Source='System.Windows.Controls.Layout.Toolkit.dll' KeyPath='no' />
                            <File Name='WPFToolkit.dll' DiskId='1' Source='WPFToolkit.dll' KeyPath='no' />
                            <File Name='WinRT.Runtime.dll' DiskId='1' Source='WinRT.Runtime.dll' KeyPath='no' />
                        </Component>

                        <Directory Id='Data' Name='Data'>
                            <Component Id='DataDir' Guid='2507ECA2-A487-48A7-AEA8-094688959E22'>
                                <File Name='amiko_db_full_idx_de.db' DiskId='1' Source='Data/amiko_db_full_idx_de.db' KeyPath='yes' />
                                <File Name='amiko_frequency_de.db' DiskId='1' Source='Data/amiko_frequency_de.db' KeyPath='no' />
                                <File Name='amiko_report_de.html' DiskId='1' Source='Data/amiko_report_de.html' KeyPath='no' />
                                <File Name='drug_interactions_csv_de.csv' DiskId='1' Source='Data/drug_interactions_csv_de.csv' KeyPath='no' />
                            </Component>
                        </Directory>
                        <Directory Id='Resources' Name='Resources'>
                            <Directory Id='Resources_css' Name='css'>
                                <Component Id='CSSResources' Guid='EA997AAF-7578-463F-831D-2541911A0F3C'>
                                    <File Name='fachinfo_css.css' DiskId='1' Source='Resources/css/fachinfo_css.css' KeyPath='yes' />
                                    <File Name='fulltext_style_css.css' DiskId='1' Source='Resources/css/fulltext_style_css.css' KeyPath='no' />
                                    <File Name='interactions_css.css' DiskId='1' Source='Resources/css/interactions_css.css' KeyPath='no' />
                                    <File Name='shopping_css.css' DiskId='1' Source='Resources/css/shopping_css.css' KeyPath='no' />
                                    <File Name='zurrose_css.css' DiskId='1' Source='Resources/css/zurrose_css.css' KeyPath='no' />
                                </Component>
                            </Directory>
                            <Directory Id='Resources_img' Name='img'>
                                <Component Id='ImageResources' Guid='5D5EBC4F-7C7C-44E5-9794-5440B200EF79'>
                                    <File Name='28-star-gy.png' DiskId='1' Source='Resources/img/28-star-gy.png' KeyPath='yes' />
                                    <File Name='28-star-ye.png' DiskId='1' Source='Resources/img/28-star-ye.png' KeyPath='no' />
                                    <File Name='aips32x32_dark.png' DiskId='1' Source='Resources/img/aips32x32_dark.png' KeyPath='no' />
                                    <File Name='aips32x32_gray.png' DiskId='1' Source='Resources/img/aips32x32_gray.png' KeyPath='no' />
                                    <File Name='aips32x32_light.png' DiskId='1' Source='Resources/img/aips32x32_light.png' KeyPath='no' />
                                    <File Name='amiko_icon.ico' DiskId='1' Source='Resources/img/amiko_icon.ico' KeyPath='no' />
                                    <File Name='amiko_icon.png' DiskId='1' Source='Resources/img/amiko_icon.png' KeyPath='no' />
                                    <File Name='amiko_icon.targetsize-44_altform-unplated.png' DiskId='1' Source='Resources/img/amiko_icon.targetsize-44_altform-unplated.png' KeyPath='no' />
                                    <File Name='desitin_icon.ico' DiskId='1' Source='Resources/img/desitin_icon.ico' KeyPath='no' />
                                    <File Name='desitin_icon.png' DiskId='1' Source='Resources/img/desitin_icon.png' KeyPath='no' />
                                    <File Name='desitin_icon.targetsize-44_altform-unplated.png' DiskId='1' Source='Resources/img/desitin_icon.targetsize-44_altform-unplated.png' KeyPath='no' />
                                    <File Name='desitin_icon_300x300.png' DiskId='1' Source='Resources/img/desitin_icon_300x300.png' KeyPath='no' />
                                    <File Name='desitin_splash.png' DiskId='1' Source='Resources/img/desitin_splash.png' KeyPath='no' />
                                    <File Name='favorites32x32_dark.png' DiskId='1' Source='Resources/img/favorites32x32_dark.png' KeyPath='no' />
                                    <File Name='favorites32x32_gray.png' DiskId='1' Source='Resources/img/favorites32x32_gray.png' KeyPath='no' />
                                    <File Name='favorites32x32_light.png' DiskId='1' Source='Resources/img/favorites32x32_light.png' KeyPath='no' />
                                    <File Name='interactions32x32_dark.png' DiskId='1' Source='Resources/img/interactions32x32_dark.png' KeyPath='no' />
                                    <File Name='interactions32x32_gray.png' DiskId='1' Source='Resources/img/interactions32x32_gray.png' KeyPath='no' />
                                    <File Name='interactions32x32_light.png' DiskId='1' Source='Resources/img/interactions32x32_light.png' KeyPath='no' />
                                    <File Name='mag_glass_16x16.png' DiskId='1' Source='Resources/img/mag_glass_16x16.png' KeyPath='no' />
                                    <File Name='magnifying-glass.png' DiskId='1' Source='Resources/img/magnifying-glass.png' KeyPath='no' />
                                    <File Name='menu_button.png' DiskId='1' Source='Resources/img/menu_button.png' KeyPath='no' />
                                    <File Name='prescriptions64x64.png' DiskId='1' Source='Resources/img/prescriptions64x64.png' KeyPath='no' />
                                    <File Name='prescriptions64x64_light.png' DiskId='1' Source='Resources/img/prescriptions64x64_light.png' KeyPath='no' />
                                    <File Name='trash_icon_2.png' DiskId='1' Source='Resources/img/trash_icon_2.png' KeyPath='no' />
                                </Component>
                            </Directory>
                            <Directory Id='Resources_js' Name='js'>
                                <Component Id='JSResources' Guid='E0F587A1-7AAE-44AA-9C5A-2F36DCEC893F'>
                                    <File Name='interaction_callbacks.js' DiskId='1' Source='Resources/js/interaction_callbacks.js' KeyPath='yes' />
                                    <File Name='main_callbacks.js' DiskId='1' Source='Resources/js/main_callbacks.js' KeyPath='no' />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id='de' Name='de'>
                            <Component Id='DeDir' Guid='D67DCF19-2797-4DC8-BBCC-612712CBE089'>
                                <File Name='MahApps.Metro.resources.dll' DiskId='1' Source='de/MahApps.Metro.resources.dll' KeyPath='yes' />
                            </Component>
                        </Directory>
                        <Directory Id='de_CH' Name='de-CH'>
                            <Component Id='LocaleDeDir' Guid='D67DCF19-2797-4DC8-BBCC-422712CBE089'>
                                <File Id='de_AmiKo_Desitin.resources.dll' Name='AmiKo Desitin.resources.dll' DiskId='1' Source='de-CH/AmiKo Desitin.resources.dll' KeyPath='yes' />
                            </Component>
                        </Directory>
                        <Directory Id='fr_CH' Name='fr-CH'>
                            <Component Id='LocaleFrDir' Guid='8BEBFC83-585D-4792-B9A0-FBAADE54F1BF'>
                                <File Id='fr_AmiKo_Desitin.resources.dll' Name='AmiKo Desitin.resources.dll' DiskId='1' Source='fr-CH/AmiKo Desitin.resources.dll' KeyPath='yes' />
                            </Component>
                        </Directory>
                        <Directory Id='runtimes' Name='runtimes'>
                            <Directory Id='runtimes_win' Name='win'>
                                <Directory Id='runtimes_win_lib' Name='lib'>
                                    <Directory Id='runtimes_win_lib_net6.0' Name='net6.0'>
                                        <Component Id='RuntimeWinLibNet6' Guid='D67DCF19-2797-4DC8-BBCC-111712CBE089'>
                                            <File Id='Runtime_Microsoft.Win32.SystemEvents.dll' Name='Microsoft.Win32.SystemEvents.dll' DiskId='1' Source='runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll' KeyPath='yes' />
                                            <File Id='Runtime_System.Drawing.Common.dll' Name='System.Drawing.Common.dll' DiskId='1' Source='runtimes/win/lib/net6.0/System.Drawing.Common.dll' KeyPath='no' />
                                        </Component>
                                    </Directory>
                                    <Directory Id='runtimes_win_lib_netcoreapp2.1' Name='netcoreapp2.1'>
                                        <Component Id='RuntimeWinLibNetCoreApp2.1' Guid='D67DCF19-2797-4DC8-BBCC-609712CBE089'>
                                            <File Id='Runtime_System.Data.SqlClient.dll' Name='System.Data.SqlClient.dll' DiskId='1' Source='runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll' KeyPath='yes' />
                                        </Component>
                                    </Directory>
                                </Directory>
                            </Directory>
                            <Directory Id='runtimes_win_arm' Name='win-arm'>
                                <Directory Id='runtimes_win_arm_native' Name='native'>
                                    <Component Id='RuntimeARMDir' Guid='D67DCF19-2797-4DC8-BBCC-831712CBE089'>
                                        <File Id='Arm_e_sqlite3.dll' Name='e_sqlite3.dll' DiskId='1' Source='runtimes/win-arm/native/e_sqlite3.dll' KeyPath='yes' />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id='runtimes_win_arm64' Name='win-arm64'>
                                <Directory Id='runtimes_win_arm64_native' Name='native'>
                                    <Component Id='RuntimeARM64Dir' Guid='D67DCF19-2797-4DC8-BBCC-101112CBE089'>
                                        <File Id='Arm64_e_sqlite3.dll' Name='e_sqlite3.dll' DiskId='1' Source='runtimes/win-arm64/native/e_sqlite3.dll' KeyPath='yes' />
                                        <File Id='Arm64_sni.dll' Name='sni.dll' DiskId='1' Source='runtimes/win-arm64/native/sni.dll' KeyPath='no' />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id='runtimes_win_x64' Name='win-x64'>
                                <Directory Id='runtimes_win_x64_native' Name='native'>
                                    <Component Id='RuntimeX64Dir' Guid='D67DCF19-2797-4DC8-BBCC-111112CBE089'>
                                        <File Id='X64_e_sqlite3.dll' Name='e_sqlite3.dll' DiskId='1' Source='runtimes/win-x64/native/e_sqlite3.dll' KeyPath='yes' />
                                        <File Id='X64_sni.dll' Name='sni.dll' DiskId='1' Source='runtimes/win-x64/native/sni.dll' KeyPath='no' />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id='runtimes_win_x86' Name='win-x86'>
                                <Directory Id='runtimes_win_x86_native' Name='native'>
                                    <Component Id='RuntimeX86Dir' Guid='D67DCF19-2797-4DC8-BBCC-896412CBE089'>
                                        <File Id='X86_e_sqlite3.dll' Name='e_sqlite3.dll' DiskId='1' Source='runtimes/win-x86/native/e_sqlite3.dll' KeyPath='yes' />
                                        <File Id='X86_sni.dll' Name='sni.dll' DiskId='1' Source='runtimes/win-x86/native/sni.dll' KeyPath='no' />
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>

                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs" />
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <Feature Id='Complete' Title='Amiko Desitin' Description='The complete package.' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='DataDir' />
            <ComponentRef Id='CSSResources' />
            <ComponentRef Id='ImageResources' />
            <ComponentRef Id='JSResources' />
            <ComponentRef Id='DeDir' />
            <ComponentRef Id='LocaleDeDir' />
            <ComponentRef Id='LocaleFrDir' />
            <ComponentRef Id='RuntimeWinLibNet6' />
            <ComponentRef Id='RuntimeWinLibNetCoreApp2.1' />
            <ComponentRef Id='RuntimeARMDir' />
            <ComponentRef Id='RuntimeARM64Dir' />
            <ComponentRef Id='RuntimeX64Dir' />
            <ComponentRef Id='RuntimeX86Dir' />
        </Feature>

        <Icon Id="desitin_icon.ico" SourceFile="Resources\img\desitin_icon.ico" />

        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="InstallDirDlg"
                     Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1</Publish>
        </UI>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    </Product>
</Wix>

