#shopping {margin-left:5px;margin-right:5px;margin-top:20px;margin-bottom:20px;font-family:"Verdana","Arial","Tahoma","Helvetica","Geneva","sans-serif";color:black;}
#shopping a {text-decoration:none;color:black;}
#shopping div p {font-size:0.8em;}
#shopping table {background-color:#f0f0f0;font-family:"Verdana","sans-serif";font-size:0.85em;margin-top:0.9em;margin-bottom:0.9em;}
#shopping td {font-family:"Verdana","sans-serif";font-size:0.85em;padding-left:0.5em;padding-right:0.5em;}
#shopping td p {font-family:"Verdana","sans-serif";font-size:0.85em;}
#shopping button {cursor:pointer;border:none;background-color:transparent;}
#shopping input {font-family:"Verdana","sans-serif";font-size:1.0em;}
#shopping select {font-family:"Verdana","sans-serif";font-size:1.0em;}
#shopping .address {font-size:0.8em;line-height:0%;background-color:#ffffff;}
#shopping .footnote {font-weight:normal;font-style:normal;font-size:0.7em;margin-top:0.25em;margin-bottom:0.0em;}
#shopping .container {background-color:#ffffff;}
#shopping .left {font-size:0.85em;margin:16px;}
#shopping .right {font-size:0.85em;margin-right:16px;}
#shopping .chart div {display:inline;font:0.85em;sans-serif;text-align:left;padding:4px;margin:0px;color:white;}
#shopping .tooltip div {display:none;color:#000;padding:3px;cursor:pointer;text-decoration:none;}
#shopping .tooltip2 div {display:none;color:#000;padding:3px;cursor:pointer;text-decoration:none;}
#shopping .tooltip:hover div {display:block;position:absolute;left:30%;font-size:0.75em;background-color:#efefff;border:2px solid;border-color:#fff;margin:6px;padding:6px;}
#shopping .tooltip2:hover div {display:block;position:absolute;left:15%;font-size:0.8em;background-color:#efeeef;border:2px solid;border-color:#fff;margin:6px;padding:6px;}
#buttons button {cursor:pointer;background-color:#dcdcfa;border-style:solid;border-color:#fff;} 
#buttons .buttonPressed {background-color:#f0f0f0;}
#header div p {font-family:"Verdana","sans-serif";font-size:0.85em;margin-top:0.9em;margin-bottom:0.9em;}