body{}

body {
	background-color:var(--background-color-normal);
	-ms-scrollbar-base-color: var(--background-color-normal);
	-ms-scrollbar-track-color: var(--background-color-normal);
	-ms-scrollbar-arrow-color: var(--text-color-normal);
	-ms-scrollbar-face-color: var(--text-color-normal);
}

#interactions {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:5px;
    margin-right:5px;
    margin-top:20px;
    margin-bottom:20px;
    color: var(--text-color-normal);
}
#interactions h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#4F7B8F;
}
#interactions .absTitle {
    font-size:0.9em;
    font-weight:bold;
    font-style:normal;
    margin-bottom:0.3em;
}
#interactions div p {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    font-size:0.9em;
}
#interactions table {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    background-color:var(--background-color-gray);
    font-size:0.9em;
    margin-top:0.9em;
    margin-bottom:0.9em;
}
#interactions td {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    font-size:0.9em;
	color: var(--text-color-normal);
}
#interactions td p {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    font-size:0.9em;
}
#interactions .footnote {
    font-weight:normal;
    font-style:normal;
    font-size:0.7em;
    margin-top:0.25em;
    margin-bottom:0.0em;
}
#interactions .paragraphA, .paragraphB, .paragraphC, .paragraphD, .paragraphX, .paragraph0 {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    padding:0.5em;
    border-radius:2em;
    font-weight:normal;
    font-style:normal;
    margin-top:0.8em;
}
#interactions .paragraphB {
    background-color:#caff70;
}
#interactions .paragraphB {
    background-color:#ffec8b;
}
#interactions .paragraphC {
    background-color:#ffb90f;
}
#interactions .paragraphD {
    background-color:#ff82ab;
}
#interactions .paragraphX {
    background-color:#ff6a6a;
}
#interactions .paragraph0 {
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
	background-color:var(--background-color-gray);
}
.noSpacing {
    margin-top:0em;
    margin-bottom:0em;
}
.spacing1 {
    margin-top:0em;
    margin-bottom:0.25em;
}
.spacing2 {
    margin-left:0.5em;
    margin-top:0em;
    margin-bottom:0.5em;
}

#Farblegende {
  background-color:var(--background-color-normal);
  color:black; /* Always black */
}
