<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="Google.Apis" version="1.45.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.45.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.45.0" targetFramework="net462" />
  <package id="Google.Apis.Drive.v3" version="1.45.0.1922" targetFramework="net462" />
  <package id="Infragistics.Themes.MetroLight.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="MicroSoft.Net.Compilers" version="2.8.0" targetFramework="net461" />
  <package id="MMaitre.MediaCaptureWPF" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="PCSC" version="4.1.1" targetFramework="net462" />
  <package id="PCSC.Iso7816" version="4.1.1" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Runtime.WindowsRuntime" version="4.3.0" targetFramework="net461" />
</packages>